{% extends "ticketing/base.html" %}
{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
         <!-- Basic Card Example -->
        {% for t in tickets %}
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{{ t.issue_summary }}</h6>
                </div>
                <div class="card-body">
                  {{ t.issue_description }}
                </div>
              </div>
        {% endfor %}
    </div>
{% endblock content %}